$TTL 86400
@   IN  SOA     ns1.{{ domain }}. root.{{ domain }}. (
                                              3           ;Serial
                                              3600        ;Refresh
                                              1800        ;Retry
                                              604800      ;Expire
                                              86400       ;Minimum TTL
)

;Name Server Information
@       IN  NS      ns1.{{ domain }}.

;IP address of Name Server
ns1       IN  A       {{ server_ip }}

;Mail exchanger
{{ domain }}. IN  MX 10   mail.{{ domain }}.

;A - Record HostName To Ip Address
www     IN  A       192.168.1.101
mail    IN  A       192.168.1.150

;CNAME record
ftp     IN CNAME        www.{{ domain }}.
