$TTL 1D
@       IN  SOA dns.{{ domain }}. root.{{ domain }}. (
                                                        0	    ; serial
                                                        1D	    ; refresh
                                                        1H	    ; retry
                                                        1W	    ; expire
                                                        3H )    ; minimum

        IN  NS      dns.{{ domain }}.
dns     IN  A       {{ server_ip }}
{{ server_ip_reversed }}    IN  PTR  dns.{{ domain }}.
